.idea
.vscode
.cursor
.gitattributes
*.pyc
*.flv
*.mp4
*.part
*.webm
backup
venv./
.venv/
.sqlx/
.run/
test/
pdm.lock
.pdm-python
config.*.*
config.yaml
!public/config.yaml
/configlog.ini
ds_update.log*
*.cookie
*.zip
*.exe
*.egg-info
dist/
build/
cover/
cache/
.cursor/

*.back
bili.cookie.json
archive.txt
/node_modules
watch_process.pid
biliup/**/public
public/CHANGELOG.html
*.xml
uv.lock
Cargo.lock
tauri-app\src-tauri\Cargo.lock
package-lock.json
tauri-app\package-lock.json
qrcode.png
*.log
*.d.ts
/*.d.ts
/*.ts
!tauri-app\vite.config.ts
/biliup/stream-gears/
data/
.next
out
downloads/
biliup*.tar
target